################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/FullCalendar_MVC/bin
/FullCalendar_MVC/obj/Debug
